
@import 'variables.scss';
  
@media (max-width: 1081px) {
  .contact-form {
    padding:10rem 15%;
    background-color: $secondary-color;
    font-style: italic;
    flex-direction: column;
    font-size: calc(8px + 2vmin);
  }
}

@media (min-width: 1081px) {
  .contact-form {
    padding:10rem 15%;
    background-color: $secondary-color;
    font-style: italic;
    flex-direction: column;
    font-size: calc(8px + 2vmin);
    margin-top: 5%;
    margin-left: 25%;
  }
}

input {
  display: block;
}
.img-login {
  padding: 0px 0px 30px 0px;
}




