  .contact-form {
    padding:10rem 15%;
    background-color: #fff;
    font-style: italic;
    flex-direction: column;
    font-size: calc(8px + 2vmin);
  }

  @media (min-width: 1081px) {
    .contact-form {
      padding:10rem 15%;
      background-color: #fff;
      font-style: italic;
      flex-direction: column;
      font-size: calc(8px + 2vmin);
      margin-top: 5%;
      margin-left: 25%;
    }
}

.link-esqueceu-senha {
  color: aqua;
  padding-right: 27%;
  float: right;
  position: relative;
  font-size: calc(2px + 2vmin);

}

.link-esqueceu-senha:hover {
  color: rgb(6, 116, 116);
  padding-right: 27%;
  float: right;
  position: relative;
  font-size: calc(2px + 2vmin);

}

input {
  display: block;
}
.img-login {
  padding: 0px 0px 30px 0px;
}




