html {
  scroll-behavior: smooth;
}

@media (min-width: 1081px) {
  .diferenciais{
    padding: 10rem 10% 20rem 10%;
  }
}

@media (min-width: 1081px) {
  .column-3{
    position: relative;
    box-sizing: border-box;
    font-size: 16px;
    float: left;
    width: 33%;
    padding: 10px;
    height: 300px; 
  }
}

@media (min-width: 1081px) {
  .column-2{
  
    position: relative;
    box-sizing: border-box;
    font-size: 16px;
    float: left;
    width: 40%;
    padding: 10px;
    height: 300px;
  }
}

@media (max-width: 1081px) {
  #title-page {
    margin-bottom: 60px !important;
  }
}

@media (max-width: 1081px) {
  .image-content {
  width: 100%;
  border-Radius:50px;
  position: relative;
}

.column-4{
  position: relative;
  box-sizing: border-box;
  font-size: 16px;
  float: left;
  width: 25%;
  padding: 10px;
  height: 300px; 
  padding-bottom: 20%;
  }
}

.column-3{
 padding-bottom: 20%;
}

.column-2{
 padding-bottom: 20%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.image-border-radius {
  border-radius: 50%;
  height: 20vmin;
  pointer-events: none;
}

.text-center {
  text-align: center !important;
}

.page-section {
  background-color: #212529; 
  color: #ffffff;
}

.content {
  margin-top: -10%;
}

.image-content {
 width: 50%;
 border-Radius:50px;
 position: relative;
}

.content {
    margin-top: -20%;
}
